<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column">
    <h2>Nuevo producto</h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option>Mantel</mat-option>
          <mat-option>Sacaleche</mat-option>
          <mat-option>Florero</mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Observaciones</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" class="btn-form">
          Reservar
        </button>
      </div>
    </form>
  </div>
</div>
