<div fxLayout="row">
  <div fxLayout="column" fxFill>
    <mat-card>
      <div fxLayout="row">
        <div fxFlex="20">
          <img src="https://picsum.photos/50" />
        </div>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam
          maiores eaque quia praesentium deleniti ipsum quas modi aliquid
          aperiam in illo ad tempora quod, magni vel a voluptate culpa.
        </p>
      </div>
    </mat-card>
    <mat-card>hola</mat-card>
    <mat-card>hola</mat-card>
  </div>
</div>
